{% extends 'front/base.html' %}


{% block content %}

	<div class="filter"> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
	</div>
	<div id="mobile-filter">
	    <p class="pl-sm-0 pl-2"> Home | <b>All Breads</b></p>
	    <div class="border-bottom pb-2 ml-2">
	        <h4 id="burgundy">Filters</h4>
	    </div>
	    <div class="py-2 border-bottom ml-3">
	        <h6 class="font-weight-bold">Categories</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
	        <form>
	            <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Fresh Artisan Breads</label> </div>
	            <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Breakfast Breads</label> </div>
	            <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Healthy Breads</label> </div>
	        </form>
	    </div>
	    <div class="py-2 border-bottom ml-3">
	        <h6 class="font-weight-bold">Accompainments</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
	        <form>
	            <div class="form-group"> <input type="checkbox" id="tea"> <label for="tea">Tea Cakes</label> </div>
	            <div class="form-group"> <input type="checkbox" id="cookies"> <label for="cookies">Cookies</label> </div>
	            <div class="form-group"> <input type="checkbox" id="pastries"> <label for="pastries">Pastries</label> </div>
	            <div class="form-group"> <input type="checkbox" id="dough"> <label for="dough">Cookie Dough</label> </div>
	            <div class="form-group"> <input type="checkbox" id="choco"> <label for="choco">Chocolates</label> </div>
	        </form>
	    </div>
	    <div class="py-2 ml-3">
	        <h6 class="font-weight-bold">Top Offers</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
	        <form>
	            <div class="form-group"> <input type="checkbox" id="25off"> <label for="25">25% off</label> </div>
	            <div class="form-group"> <input type="checkbox" id="5off"> <label for="5off" id="off">5% off on artisan breads</label> </div>
	        </form>
	    </div>
	</div>
	<!-- Sidebar filter section -->
	<section id="sidebar">
	    <p> Home | <b>All Breads</b></p>
	    <div class="border-bottom pb-2 ml-2">
	        <h4 id="burgundy">Filters</h4>
	    </div>
	    <div class="py-2 border-bottom ml-3">
	        <h6 class="font-weight-bold">Categories</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
	        <!-- <form> -->
            	{% for category in categories %}
    	            <div class="form-group"> 
    	            	<input type="checkbox" class="common_selector category" id="" value="{{ category.0 }}"><label for="tea">{{ category.0  }}</label> 
    	            </div>
    	        {% endfor %}
            <!-- </form> -->
	    </div>
	    <div class="py-2 border-bottom ml-3">
	        <h6 class="font-weight-bold">Brands</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
            <!-- <form> -->
            	{% for brand_name in brands %}
    	            <div class="form-group"> 
    	            	<input type="checkbox" class="common_selector brand" id="" value="{{ brand_name.0 }}"><label for="tea">{{ brand_name.0|title }}</label> 
    	            </div>
    	        {% endfor %}
            <!-- </form> -->
	    </div>
	    <div class="py-2 ml-3">
	        <h6 class="font-weight-bold">Ram</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
            <!-- <form> -->
            	{% for ram_name in rams %}
    	            <div class="form-group"> 
    	            	<input type="checkbox" class="common_selector ram" id="" value="{{ ram_name.0 }}"><label for="tea">{{ ram_name.0  }} GB</label> 
    	            </div>
    	        {% endfor %}
            <!-- </form> -->
	    </div>
	    <div class="py-2 ml-3">
	        <h6 class="font-weight-bold">Internal Storage</h6>
	        <div id="orange"><span class="fa fa-minus"></span></div>
            <!-- <form> -->
            	{% for storage_name in storages %}
    	            <div class="form-group"> 
    	            	<input type="checkbox" class="common_selector storage" id="" value="{{ storage_name.0 }}"><label for="tea">{{ storage_name.0  }} GB</label> 
    	            </div>
    	        {% endfor %}
            <!-- </form> -->
	    </div>
	</section>
	
	<!-- products section -->
	<section id="products">
	    <div class="container">

	        <div class="d-flex flex-row">
	            <div class="text-muted m-2" id="res">Showing 44 results</div>
	            <div class="ml-auto mr-lg-4">
	                <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Sort by</span> 
	                	<select name="sort" id="sort">
	                        <option value="popularity"><b>Popularity</b></option>
	                        <option value="prcie"><b>Price</b></option>
	                        <option value="rating"><b>Rating</b></option>
	                    </select> </div>
	            </div>
	        </div>


	        <div class="row filter_data">
	        	
	        	<div style="text-align:center;">
	        	    <span>
	        	        <i class="fa fa-spinner fa-spin" style="font-size:50px;margin-top: 100px;margin-left: 750%;"></i>
	        	    </span>
	        	</div>

	        </div>

	        <!--  Non ajax products, before ajax functionality
	        <div class="row">
		        {% for product in product_data %}

		        	<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
		        	    <div class="card"> <img class="card-img-top" src="{{ product.image.url }}">
		        	        <div class="card-body">
		        	            <h5><b>{{ product.name }}</b> </h5>
		        	            <div class="d-flex flex-row my-2">
		        	                <div class="text-muted">Price: {{ product.price }}₹<br>Brand: {{ product.brand|title }}<br>Ram: {{ product.ram }} GB<br>Storage: {{ product.storage }} GB<br></div>
		        	                <div class="ml-auto"> 
		        	                	<button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> 
		        	                	<span class="px-sm-1">1 loaf</span>
		        	                	<button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> 
		        	                </div>
		        	            </div> <button class="btn w-100 rounded my-2">Add to cart</button>
		        	        </div>
		        	    </div>
		        	</div>

		        {% endfor %}
		    </div> -->

	        <!-- <div class="row">
	            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
	                <div class="card"> <img class="card-img-top" src="https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	                    <div class="card-body">
	                        <h5><b>Multi Grain Bread</b> </h5>
	                        <div class="d-flex flex-row my-2">
	                            <div class="text-muted">₹110/loaf</div>
	                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 loaf</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
	                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
	                <div class="card"> <img class="card-img-top" src="https://images.pexels.com/photos/3085146/pexels-photo-3085146.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	                    <div class="card-body">
	                        <h5><b>Bagels</b> </h5>
	                        <div class="d-flex flex-row my-2">
	                            <div class="text-muted">₹35/piece</div>
	                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
	                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
	                <div class="card"> <img class="card-img-top" src="https://images.pexels.com/photos/1448665/pexels-photo-1448665.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	                    <div class="card-body">
	                        <h5><b>White Bread</b> </h5>
	                        <div class="d-flex flex-row my-2">
	                            <div class="text-muted">₹80/loaf</div>
	                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 loaf</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
	                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
	                <div class="card"> <img class="card-img-top" src="https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	                    <div class="card-body">
	                        <h5><b>Baguette</b> </h5>
	                        <div class="d-flex flex-row my-2">
	                            <div class="text-muted">₹160/piece</div>
	                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
	                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
	                <div class="card"> <img class="card-img-top" src="https://images.pexels.com/photos/209206/pexels-photo-209206.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	                    <div class="card-body">
	                        <h5><b>Masala Bun</b> </h5>
	                        <div class="d-flex flex-row my-2">
	                            <div class="text-muted">₹85/piece</div>
	                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1 pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
	                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
	                <div class="card d-relative"> <img class="card-img-top" src="https://images.pexels.com/photos/3570/morning-breakfast-croissant.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	                    <div class="card-body">
	                        <h5><b>Croissant</b> </h5>
	                        <div class="rounded bg-white discount" id="orange">10% off</div>
	                        <div class="d-flex flex-row my-2">
	                            <div class="text-muted price"><del>₹55</del>₹45/piece</div>
	                            <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span>1pc</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div>
	                        </div> <button class="btn w-100 rounded my-2">Add to cart</button>
	                    </div>
	                </div>
	            </div> -->

	        </div>
	    </div>
	</section>

{% endblock content %}


{% block js_block %}
<script type="text/javascript">
	
	$(function(){

		function filter_data(){
			//$('.filter_data').html('<div id="loading"></div>');
			var brand   = get_filter('brand');
			var ram     = get_filter('ram');
			var storage = get_filter('storage');
			$.ajax({
				url: "{% url 'products.fetch.ajax' %}",
				method: "POST",
				data: { csrfmiddlewaretoken: "{{ csrf_token }}", 'brand[]': brand, 'ram[]': ram, 'storage[]': storage },
				dataType: 'json',
				success: function(data){
					$('.filter_data').html(data[0]['data']);
				},
				error: function(data){

				},
				complete: function(data){

				}
			});
		}
		filter_data();


		function get_filter(class_name){
			var filter = [];
			$('.'+class_name+':checked').each(function(){
				filter.push($(this).val());
			});
			return filter;
		}

		$(".common_selector").click(function(){
			filter_data();
		});

		// load more functionality, START
		$(document).on('click','.load_more', function(event){
			event.preventDefault();
			//alert("hello"); return false;
			load_more_data();
		});

		function load_more_data(){

			var brand   = get_filter('brand');
			var ram     = get_filter('ram');
			var storage = get_filter('storage');
			var last_id = $('.load_more').attr('last_id');			$.ajax({
				url: "{% url 'products.fetch.ajax' %}",
				method: "POST",
				data: { csrfmiddlewaretoken: "{{ csrf_token }}", 'brand[]': brand, 'ram[]': ram, 'storage[]': storage, last_id: last_id },
				dataType: 'json',
				success: function(data){
					$('#remove_row').remove();
					if(data[0]['data'] != ""){
						$('.filter_data').append(data[0]['data']);
					}
				},
				error: function(data){

				},
				complete: function(data){

				}
			});
		}
		// load more functionality, END 


		
	});

</script>
{% endblock js_block %}