{% load static %}

<!--   CSS Files  -->
<link rel="stylesheet" type="text/css" href="{% static 'front/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'front/css/product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">

<!--   JS Files  -->
<script type="text/javascript" src="{% static 'front/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/popper.min.js' %}"></script>

<title>E-Shop {% block title %}Home{% endblock %}</title>

{# block for individual page css #}
{% block css_block %}
{% endblock %}