#loading{
	text-align: center;
	background: url("/static/front/images/loader.gif") no-repeat center;
	height: 150px;
}

#lblCartCount {
    font-size: 12px;
    background: #4caf50;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}