{% extends 'front/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/w3.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'front/css/profile-sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'front/css/login.css' %}">
<style type="text/css">
	body{
	    background:#eee;
	}
	.error{
	   color: red;
	   padding-left: 10px;
	 /*  font-weight: bold;*/
	}
</style>
{% endblock css_block %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<!-- Profile Navbar  -->
				{% include 'front/partials/profile_navbar.html' %}
			</div>
			<div class="col-md-9">
				<br>
				<p class="profile_header">Change Password</p>

				<br>

				<form action="{% url 'profile.change_password_post' %}" method="post" id="change_password_id" style="border:1px solid #ccc; background-color: #fff;" >
					<div class="container">

					  	<div class="row">
					  		<div class="col-md-12">
					  	    {% for message in messages %}
					  	         <div class="alert {{ message.tags }} alert-dismissible alert-class"  style="width: 100%;" role="alert">
					  	             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  	                 <span aria-hidden="true">&times;</span>
					  	             </button>
					  	             {{ message | safe }}
					  	         </div>
					  	     {% endfor %}
					  	 	</div>
					  	</div>

					    <div class="row">
					    	{% csrf_token %}
					    	<div class="col-md-12">
						    	<label for="{{ form.email.id_for_label }}" class="leb"><b>Current Password</b></label>
							    <input type="password" placeholder="Current Password" class="inp" name="current_password" value="" style="background-color: #ccc;" >
						    </div>
					    </div>
						    
					    <div class="row">
					    	<div class="col-md-12">
							    <label for="{{ form.password.id_for_label }}" class="leb"><b>New Password</b></label>
							    <input type="password" placeholder="New Password" class="inp" name="new_password" style="background-color: #ccc;" >
							 </div>
						</div>

						<div class="row">
					    	<div class="col-md-12">
							    <label for="{{ form.password.id_for_label }}" class="leb"><b>Confirm Password</b></label>
							    <input type="password" placeholder="Confirm Password" class="inp" name="confirm_password" style="background-color: #ccc;" >
							 </div>
						</div>

					    <div class="clearfix">
					      <button type="submit" class="btn login_btn">Save</button>
					    </div>
					</div>
				</form>
				
			</div>
		</div>
	</div>


{% endblock content %}



{% block  js_block %}
<script type="text/javascript">

	$(document).ready(function() {

		$("#change_password_id").validate({
			rules: {
				current_password : {
					required: true
				},
				new_password : {
					required: true,
					minlength: 6
				},
				confirm_password : {
					required: true
				}
			},
			messages : {
				current_password: {
					required: "Current password required",
				},
				new_password : {
					required: 'New password is required',
					minlength: 'Minimum length should be 6'
				},
				confirm_password : {
					required: 'Confirm password is required',
				}
				
			}
		});

	});
</script>
{% endblock js_block %}